[user]
# Please adapt and uncomment the following lines:
	name = shi00317
	email = shi00317@umn.edu

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
